<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Karla Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="todo">
      <h1 class="todo__header">To Do App 📝</h1>

      <div class="todo__headerContainer mt-3">
        <h3 class="font-weight-bold">What are we doing today? 🙄</h3>
        <form
          class="todo__form mt-4"
          action="{{ url_for('add') }}"
          method="POST"
        >
          <input
            class="input__container"
            placeholder="Write task here..."
            type="text"
            name="todoitem"
            required
          />
          <input class="button-1 ml-5" type="submit" value="Add Item" />
        </form>
      </div>

      <div class="todo__itemContainer">
        {% if incomplete %}
        <div class="card todo__innerItemContainer">
          <h2 class="todo__itemHeader">To Do's 🕐</h2>
          <ul class="todo__container">
            {% for todo in incomplete %}
            <li class="todo__item">
              <p>{{ todo.text }}</p>
              <a class="button-3" href="{{ url_for('complete', id=todo.id) }}"
                >Complete</a
              >
              <a class="todo__close" href="{{ url_for('delete', id=todo.id) }}"
                >❌</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %} {% if complete %}
        <div class="todo__innerItemContainer">
          <h2 class="todo__itemHeader">Done ✅</h2>

          <ul class="todo__container">
            {% for todo in complete %}
            <li class="todo__item">
              <p>{{ todo.text }}</p>
              <a class="button-2" href="{{ url_for('uncheck', id=todo.id) }}"
                >Undo</a
              >
              <a class="todo__close" href="{{ url_for('delete', id=todo.id) }}"
                >❌</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
